.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/bacupNEXT/
.DS_Store
*.mov
static/anim-vp9-chrome.webm
static/anim.mov
static/anim.mp4
static/anim-hevc-safari.mp4
static/anim.mp4
